:root {
    --bg: #e9e9f6;
}
html {
    color: rgb(102, 102, 102);
    letter-spacing: 3px;
    user-select: none;
    background: var(--bg);
}
h4 {
    margin-top: 5px;
}
button {
    background-color: #232938;
    color: white;
    border: 2px solid white;
    transition: all .2s ease-in-out;
}
button:hover {
    background-color: white;
    color: #232938;
    border: 2px solid #232938;
}
footer {
    position: absolute;
    top: 0;
    left: 10px;
}

#timeRange {
    appearance: none;
}
#timeRange::-webkit-slider-runnable-track {
    background: gray;
    height: 6px;
}
#timeRange::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: blue;
    boder-radius: 50%;
}

@font-face {
    font-family: 'Mochi';
    src: url('./fonts/MochiyPopOne-Regular.ttf');
}
@font-face {
    font-family: 'Dot';
    src: url('./fonts/DotGothic16-Regular.ttf');
}
@font-face {
    font-family: 'Yusei';
    src: url('./fonts/YuseiMagic-Regular.ttf');
}
@font-face {
    font-family: 'Rockn';
    src: url('./fonts/RocknRollOne-Regular.ttf');
}
@keyframes blink {
    0% { 
        opacity: 0%;
        border-right: 2px solid magenta;
    }
    33% { 
        opacity: 100%;
        border-right: 2px solid yellow;
    }
    66% {
        opacity: 100%;
        border-right: 2px solid cyan;
    }
    100% {
        opacity: 0%;
        border-right: 2px solid magenta;
    }
}
@keyframes blink2 {
    0% { opacity: 0%; }
    50% { opacity: 100%; }
    100% { opacity: 0%; }
}

.setting {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}
.fontMenu {
    margin-bottom: 10px;
}
.colored {
    color: red;
}


/*
levels
*/
.Possible {
    color: greenyellow;
}
.Prologue {
    color: yellow;
}
.CantSayAnything {
    color: orange;
}
.Hard {
    color: #ff4800;
}
.VeryHard {
    color: #fa4949;
}
.NoWay {
    color: #ff0000;
}
.Impossible {
    color: #7a2020;
}



.blink {
    animation: blink2 1s infinite;
}
.shadow {
    text-shadow: 14px 6px 3px #232938;
    box-shadow: 4px 4px 3px 3px #232938;
}
.notFilledIn {
    background-color: #8d5757;
}
.notFilledIn::placeholder {
    color: white;
}

/*
keyboard
*/
#keyboard {
    text-align: center;
    margin: 0 auto;
    width: 16rem;
    padding: 2px;
    margin-bottom: 2rem;
    border: 2px solid rgb(190, 190, 190);
    transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
}
.cap {
    border: 1px solid white;
    padding: 3px;
    display: inline-block;
    margin: 0 auto;
}
.spaceCap {
    border: 1px solid white;
    margin-top: 4px;
    padding-left: 4rem;
}
.pressed {
    color: #95732a;

}
.pressed2 {
    background-color: #95732a;
}
.hidden {
    display: none;
}

/*
gauge
*/
#gaugeBar {
    background-color: #808080;
    width: 250px;
    height: 10px;
}
#gauge {
    background-color: #ffffff;
    width: 0px;
    height: 10px;
}

/*
fonts
*/
.Dot {
    font-family: 'Dot';
}
.Mochi {
    font-family: 'Mochi';
}
.Yusei {
    font-family: 'Yusei';
}

/*
form
*/
#reflectQuestion {
    width: 10rem;
}
#reflectKana {
    width: 14rem;
}
/*
#board5
*/
#board5 {
    position: fixed;
    top: 40px;
    left: 150px;
    width: 18rem;
    height: 4rem;
    border: none;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    backdrop-filter: url(#wavyFilter);
    overflow: hidden;

    box-shadow: 
        4px 4px 4px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 4px rgba(0, 0, 0, 0.3),
        inset -4px -4px 4px rgba(255, 255, 255, 0.9);
}
.checkboxes {
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    transition: box-shadow .4s ease-in-out;

    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
}
.checkboxes:checked {
    box-shadow: 
        4px 4px 4px transparent,
        -4px -4px 4px transparent,
        inset 4px 4px 4px rgba(0, 0, 0, 0.3),
        inset -4px -4px 4px rgba(255, 255, 255, 0.9);
}
/*
warning
*/
#warning {
    background-color: gray;
}

.blink2 {
    position: relative;
    display: inline-block;
}
.blink2.active::before {
    position: absolute;
    z-index: -1;
    content: '';
    inset: 0;
    background: #ffff003b;
    animation: blink2 2s infinite;
}
#caret {
    border-right: 2px solid pink;
    animation: blink 1s infinite;
}
#KanaArea {
    margin-top: 0;
    padding-top: 0;
}
.right {
    display: flex;
}

.btn {
    appearance: none;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    transition: box-shadow .4s ease-in-out;

    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
}
.btn:checked {
    box-shadow: 
        4px 4px 4px transparent,
        -4px -4px 4px transparent,
        inset 4px 4px 4px rgba(0, 0, 0, 0.3),
        inset -4px -4px 4px rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 600px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 10rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: none;
        border-radius: 20px;
        background: #e9e9f6;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);

        box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 32rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: none;
        border-radius: 20px;
        background: #e9e9f6;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);

        box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1800px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 30rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: none;
        border-radius: 20px;
        background: #e9e9f6;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);

        box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 1801px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 43rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: none;
        border-radius: 20px;
        background: #e9e9f6;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);

        box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.3),
        -4px -4px 4px rgba(255, 255, 255, 0.9),
        inset 4px 4px 8px transparent,
        inset -4px -4px 4px transparent;
    }
    #gaugeBar {
        display: inline-block;
    }
}
