html {
    color: white;
    letter-spacing: 3px;
    user-select: none;
}
h4 {
    margin-top: 5px;
}
button {
    background-color: #232938;
    color: white;
    border: 2px solid white;
    transition: all .2s ease-in-out;
}
button:hover {
    background-color: white;
    color: #232938;
    border: 2px solid #232938;
}
footer {
    position: absolute;
    top: 0;
    left: 10px;
}

@font-face {
    font-family: 'Mochi';
    src: url('./fonts/MochiyPopOne-Regular.ttf');
}
@font-face {
    font-family: 'Dot';
    src: url('./fonts/DotGothic16-Regular.ttf');
}
@font-face {
    font-family: 'Yusei';
    src: url('./fonts/YuseiMagic-Regular.ttf');
}
@font-face {
    font-family: 'Rockn';
    src: url('./fonts/RocknRollOne-Regular.ttf');
}
@media (prefers-color-scheme: dark) {
    body { background: red; color: #eee; }
}
@keyframes blink {
    0% { 
        opacity: 0%;
        border-right: 2px solid magenta;
    }
    33% { 
        opacity: 100%;
        border-right: 2px solid yellow;
    }
    66% {
        opacity: 100%;
        border-right: 2px solid cyan;
    }
    100% {
        opacity: 0%;
        border-right: 2px solid magenta;
    }
}
@keyframes blink2 {
    0% { opacity: 0%; }
    50% { opacity: 100%; }
    100% { opacity: 0%; }
}

.setting {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}
.fontMenu {
    margin-bottom: 10px;
}
.colored {
    color: red;
}
.greenyellow {
    color: greenyellow;
}
.blackred {
    color: #7a2020;
}
.blink {
    animation: blink2 1s infinite;
}
.shadow {
    text-shadow: 14px 6px 3px #232938;
    box-shadow: 4px 4px 3px 3px #232938;
}
.notFilledIn {
    background-color: #8d5757;
}
.notFilledIn::placeholder {
    color: white;
}

/*
keyboard
*/
#keyboard {
    margin: 0 auto;
    width: 10rem;
    padding: 2px;
    margin-bottom: 2rem;
    border: 2px solid white;
    transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
}
.cap {
    border: 1px solid white;
    padding: 2px;
}
.spaceCap {
    border: 1px solid white;
    margin-top: 2px;
    padding-left: 40px;
}
.pressed {
    color: #95732a;

}
.pressed2 {
    background-color: #95732a;
}

/*
gauge
*/
#gaugeBar {
    background-color: #808080;
    width: 250px;
    height: 10px;
}
#gauge {
    background-color: #ffffff;
    width: 0px;
    height: 10px;
}

/*
thema
*/
.Japanese_modern {
    background: #688d57;
    transition: background .5s, opacity .5s;
}
.gradation {
    background: linear-gradient(50deg, #d477c8, #4e5d81, #255254);
}
.dark {
    background: #626b83;
    transition: background .5s, opacity .5s;
}

/*
fonts
*/
.Dot {
    font-family: 'Dot';
}
.Mochi {
    font-family: 'Mochi';
}
.Yusei {
    font-family: 'Yusei';
}

/*
form
*/
#reflectQuestion {
    width: 10rem;
}
#reflectKana {
    width: 14rem;
}


.blink2 {
    position: relative;
    display: inline-block;
}
.blink2.active::before {
    position: absolute;
    z-index: -1;
    content: '';
    inset: 0;
    background: #ffff003b;
    animation: blink2 2s infinite;
}
#caret {
    border-right: 2px solid pink;
    animation: blink 1s infinite;
}
#KanaArea {
    margin-top: 0;
    padding-top: 0;
}
.right {
    display: flex;
}

@media screen and (max-width: 600px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 10rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: 4px solid white;
        border-radius: 50px;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 32rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: 4px solid white;
        border-radius: 50px;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1800px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 30rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: 4px solid white;
        border-radius: 50px;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media screen and (min-width: 1801px) {
    main {
        text-align: center;
    }
    #board2, #board3, #board4 {
        margin: 0 auto;
        width: 43rem;
        padding: 30px;
        margin-bottom: 2rem;
        border: 4px solid white;
        border-radius: 50px;
        transition: all .5s cubic-bezier(0.47, -1.1, 0.8, 1.9);
    }
    #gaugeBar {
        display: inline-block;
    }
}
@media (prefers-color-scheme: dark) {
    .dark {
        background: #232938;
        transition: background .5s, opacity .5s;
    }
    .Japanese_modern {
        background: #8d5757;
        transition: background .5s, opacity .5s;
    }
    .gradation {
        background: linear-gradient(50deg, #232938, #4e5d81, #542544);
    }
}
